@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.background{
    background: linear-gradient(to bottom, #003cc7, #143059);
    background-image: url("../assets/images/artistic-blurry-colorful-wallpaper-background.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
    background: linear-gradient(to bottom, #0037ff, #3281e9);
    height: 20vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.banner button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 3rem;
    width: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
    /* Animation */
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: white;
}

.banner button:active {
    transform: translateY(-50%) scale(0.95);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 55, 255, 0.9);
    z-index: 9999;
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.modal a {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 3rem;
    width: 10rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 10px;
}

.profile-view{
    background-color: rgba(255, 255, 255, 0.8);
    padding: clamp(20px, 5vw, 40px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 90%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgFrame{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 20px;
}

.imgFrame img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


label {
    /* display: block; */
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 8px;
    text-align: center;
}

input[type="url"] {
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    outline: none;
}

input[type="url"]:hover {
    border-color: #0037ff;
}

button{
    background-color: rgb(30, 105, 211);
    color: white;
    height: auto;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 10px;
}

button:hover{
    background-color: white;
    color: rgb(30, 105, 211);
    border: 2px solid rgb(30, 105, 211); 
}
