*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    background: linear-gradient(to bottom, #003cc7, #143059);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    color: white;
    font-size: 7em;
    font-weight: bold;
    margin-bottom: 20px;
}

.instruction{
    color: white;
    font-size: 3.5em;
    margin-bottom: 40px;
}

.sign-in-panel{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: black;
    color: white;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-width: 3px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color:  #007BFF;
    border-color:  #007BFF;
    border-style: solid;
    border-width: 3px;
}

.errorLabel{
    color: red;
    font-size: 1em;
    margin-top: 10px;
}